*{
    margin: 0;

}
body{
    background-image: url("../blob-scene-haikei.svg");
    font-family: system-ui, sans-serif;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: grid;
    align-items: center;
}

@media (width <= 1250px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
    
    }
}